.reservations{
    position: relative;
    right:8px;
    width: 101%;
    height: 340px;
    display:flex;
    justify-content: space-between;
    background-color: rgb(73, 94, 87);
}

.text h1 {
    position: relative;
    bottom: 12%;
    left:95%;
    width: 26%;
    font-family: 'Markazi text';
    letter-spacing:2px;
    font-size: 64px;
    color:rgb(244, 206, 20);
}